<a href="https://colab.research.google.com/github/nstsj/python_for_CL/blob/master/python_30Oct_2019_WIP.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

*Сегодня мы поговорим о новых типах данных: кортежах, множествах и словарях*

##**Кортеж (tuple)**

это неизменяемый список. Тоже итерируемый объект. Элементы кортежи могут быть разными: строки, числа, списки
Зачем нужны кортежи, если есть списки?

    1. Защита данных. Кортеж защищен от изменений, как намеренных (что плохо), так и случайных (что хорошо).
    2. Меньший размер. Вам нужно меньше памяти, чтобы хранить данные

In [10]:
# сравним размеры

a = (1, 2, 3, 4, 5, 6) # кортеж
b = [1, 2, 3, 4, 5, 6] # лист/список

print("\nSize of the set: ",a.__sizeof__(),"\nsize of the list: ",b.__sizeof__()) 

# если вы не понимаете, что происходит в этой ячейке, не переживайте: метод .__sizeof__() пока можно воспринимать как асбтракцию

Size of the set:  72
size of the list:  88

Как работать с кортежами? Примерно так же, как и со списками. Давайте создадим кортеж: 

    1. С помощью встроенной функции tuple()

In [ ]:
a = tuple() 
a

()

    2. С помощью литерала кортежа ()

In [2]:
a = ()
a

()

Создаем кортеж из одного элемента:

In [11]:
a = ('s')
type(a)
# проверим его тип

str


Получилась строка :(  
    
А как получить кортеж?

In [13]:
a = ('s', ) # все дело в запятой! #чтобы создать кортеж с элементом 's', нужно добавить запятую 
a
# проверим тип 
type(a)

tuple

    3. и еще один способ задать кортеж:

In [ ]:
a = 's',
a

('s',)

создать кортеж из итерируемого объекта можно с помощью функции tuple()

In [14]:
a = tuple('hello')
a

('h', 'e', 'l', 'l', 'o')

###Операции с кортежами

кортежам доступны все операции над списками, не изменяющие список: сложение, умножение на число, методы index() и count()), можно работать с индексами и так далее.

##**Множество (set)**

это тоже "контейнер" для данных, но в отличие от листа(списка), он содержит уникальные, не повторяющиеся элементы.
Это отдельный тип даннных. Элементы множества могут быть разными: строки, числа, списки

Давайте создадим множество:

    1. с помощью функуии set()

In [7]:
set ('hello')

{'e', 'h', 'l', 'o'}

In [8]:
set ('helLo')

{'L', 'e', 'h', 'l', 'o'}

In [16]:
fruits = ["apples","peaches","cherries","pears","oranges","persimmons"] # задали список, сохранили в переменную
#  проверим его тип:
print(type(fruits)) # list
# давайте изменим тип на set с помощью функции set()
fruits = set(fruits) #применили функцию, пересохранили переменную

#проверим ее тип еще раз 
print(type(fruits)) # set

<class 'list'>
<class 'set'>

    2. с помощью литерала {}

In [ ]:
new_set = {2,5.9,"apples", False}  # создали переменную, сложили в нее некоторые объекты
# можем складывать в множество объекты разных типов: числовые, строковые, логические

# давайте проверим, что new_set действительно множество
print(type(new_set))

<class 'set'>

    NB! обратите внимание, что в отличие от листа, множество нельзя задать пустым литералом и что-то в него добавлять

In [ ]:
another_set = {} # создали пустое....

# ....множество? Давайте проверим тип созданной переменной 

print(type(another_set)) 

""" это не множество, это словарь! (о них мы поговорим позже). 
Давайте пока запомним главное: множества не задаются пустыми литералами """

<class 'dict'>

' это не множество, это словарь! (о них мы поговорим позже). \nДавайте пока запомним главное: множества не задаются пустыми литералами '

Множества удобно использовать для удаления повторяющихся элементов:

In [8]:
cars = ["BMW","Toyota","Bentley","Jeep","Jeep"]
cars = set(cars)
cars

{'BMW', 'Bentley', 'Jeep', 'Toyota'}

операции со множествами

In [10]:
#число элементов в множестве (размер множества).
len(cars)

4

In [ ]:
# x in s - принадлежит ли x множеству s. Возвращает True/False #Можем использовать конструкцию для списков и кортежей

#"Kia" in cars
 "Jeep" in cars

True

И операции, изменяющие множество:

In [ ]:
#добавляем элемент в множество
elem = "VolskWagen"
cars.add(elem) #для списков свой метод - append 
cars

{'BMW', 'Bentley', 'Jeep', 'Toyota', 'VolskWagen'}

In [12]:
# добавляем множество во множество
french_cars = {"Peugeot", "Citroën", "Renault"}
cars.update(french_cars) #свой метод 
cars

{'BMW', 'Bentley', 'Citroën', 'Jeep', 'Peugeot', 'Renault', 'Toyota'}

In [ ]:
# удаляем элемент из множества. 
cars.remove("Jeep")
cars

{'BMW', 'Bentley', 'Citroën', 'Peugeot', 'Renault', 'Toyota', 'VolskWagen'}

In [13]:
# KeyError, если такого элемента не существует.
cars.remove("Lamborgini")

KeyError: 'Lamborgini'

In [ ]:
cars.discard("Lamborgini") # удаляет элемент, если он находится в множестве.
# Если элемента нет, не поднимает ошибку

In [14]:
# удаляет первый элемент
print(cars)
cars.pop() #работает также для списков 

# запустите несколько раз, посмотрите на результат

{'BMW'}

'BMW'

In [ ]:
# очищаем множество

cars.clear()
cars

set()

математические операции со множествами

In [5]:
fruits = {"apples","peaches","cherries","pears","oranges","persimmons"}  # возьмем наше множество фруктов

In [6]:
berries = {"strawberry", "red currant"}
fruits.isdisjoint(berries) # True, если множества  не имеют общих элементов.

True

In [7]:
fruits == berries # True если все элементы set принадлежат other, все элементы other принадлежат set.

False

In [15]:
#berries.issubset(fruits) # является ли подмножеством
# fruits <= berries # True если все элементы berries принадлежат fruits.
cars <= french_cars

False

In [16]:
fruits.issuperset(berries) # аналогично, но в обратную сторону
# berries >= fruits
# french_cars >= cars

False

In [17]:
fruits.union(berries) # объединение нескольких множеств #работает как update
# fruits | berries #тоже способ объединения

{'apples',
 'cherries',
 'oranges',
 'peaches',
 'pears',
 'persimmons',
 'red currant',
 'strawberry'}

In [20]:
#  пересечение множеств 

fruits.intersection(berries) # пустое, у них нет общих элементов

# давайте добавим арбуз 

fruits.add("watermelon")
berries.add("watermelon")


# fruits & berries

In [21]:
fruits.add("watermelon")
berries.add("watermelon")

In [22]:
fruits.intersection(berries)

{'watermelon'}

### еще один вид множества - frozenset

    set изменяемый, frozenset - нет
    тоже нужен для сохранения данных, как tuple

In [25]:
a = set("random")
b = frozenset('random')
a == b # давайте сравним множества

True

In [24]:
a.add(1) #добавим элемент в первое множество
a

{1, 'a', 'd', 'm', 'n', 'o', 'r'}

In [ ]:
b.add(2)
# мы не можем добавлять в frozenset

AttributeError: ignored

##**Словарь (dict)**

коллекции произвольных объектов, записанные в виде *ключ : значение*
(ключи уникальные, значения могут повторяться)

( словари =ассоциативные массивы = хеш-таблицы)

Если нужно соотнести (связать) какие-то данные 

Давайте создадим словарь:

    1. С помощью литерала:

In [26]:
d = {}
d

{}

In [27]:
d = {'Jane': "London", 'Olga': "Moscow"} # Jane, Olga - это ключи, London, Moscow - значения
d

{'Jane': 'London', 'Olga': 'Moscow'}

In [28]:
a = {'Numbers': [1,2,3,4]}
a

{'Numbers': [1, 2, 3, 4]}

    2.  с помощью функции dict()

In [ ]:
d = dict(short='dict', long='dictionary')
d

{'long': 'dictionary', 'short': 'dict'}

    3. с помощью генераторов словарей (почти как генераторы списков)

In [ ]:
d = {a: a ** 2 for a in range(7)}
d

{0: 0, 1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36}

функция range создает генератор (создает на 1 значение меньше указанного, к примеру от 1 - 6 => диапазон 1-5)

##с помощью метода fromkeys:

In [ ]:
d = dict.fromkeys(['a', 'b'])
d

{'a': None, 'b': None}

In [29]:
d = dict.fromkeys(['a', 'b'], 100)
d

{'a': 100, 'b': 100}

###Теперь попробуем добавить записей в словарь и извлечь значения ключей

извлекается синтаксисом: название_переменной_словаря[ключ]

In [ ]:
d = {1: 2, 2: 4, 3: 9}
d[1] # достаем значение по ключу 1 #значение ключа записывается в квадратных скобках

2

In [33]:
c = {'кошка': ['сущ', 'ж.р.']} #в значениях могут быть разные типы данных 
c

{'кошка': ['сущ', 'ж.р.']}

In [30]:
d[3] = 4 ** 2 # добавляем пару, где ключ =3, а значение = 4**2
d # посмотрим на весь словарь

{'a': 100, 'b': 100, 3: 16}

In [31]:
# попробуем достать ключ, которого нет
d[5]

KeyError: 5

**Итог:** присвоение по новому ключу расширяет словарь, присвоение по существующему ключу перезаписывает его, а попытка извлечения несуществующего ключа порождает исключение.

###методы словарей

In [18]:
d = {'Jane': "London", 'Olga': "Moscow","Paul":"Paris","Ivan":"Minsk","Anne":"Copenhagen"}
type(d)

dict

In [2]:
d.values() # возвращает значения в словаре

dict_values(['London', 'Moscow', 'Paris', 'Minsk', 'Copenhagen'])

In [8]:
d.keys() # возвращает ключи в словаре

dict_keys(['Jane', 'Olga', 'Paul', 'Ivan', 'Anne'])

In [ ]:
d.items() # возвращает пары (ключ, значение)

dict_items([('Jane', 'London'), ('Olga', 'Moscow'), ('Paul', 'Paris'), ('Ivan', 'Minsk'), ('Anne', 'Copenhagen')])

In [9]:
new_dict = {"Alexander":"Bonn", "Julia":"Madrid"}
d.update(new_dict) # обновляет словарь, добавляя пары (ключ, значение) из other. Существующие ключи перезаписываются. Возвращает None (не новый словарь!)
d

{'Jane': 'London',
 'Olga': 'Moscow',
 'Paul': 'Paris',
 'Ivan': 'Minsk',
 'Anne': 'Copenhagen',
 'Alexander': 'Bonn',
 'Julia': 'Madrid'}

In [19]:
d.pop('Olga') # удаляет ключ и возвращает значение. Если ключа нет, возвращает default (по умолчанию бросает исключение).
d

{'Jane': 'London', 'Paul': 'Paris', 'Ivan': 'Minsk', 'Anne': 'Copenhagen'}

In [13]:
d.popitem() # удаляет и возвращает пару (ключ, значение)

('Anne', 'Copenhagen')

In [ ]:
d.get("Jane") #выдает значение по ключу, ключ в скобках

'London'

In [ ]:
d.clear() # очищает словарь
d

{}

C кортежами, списками, словарями и множествами можно использовать циклы for и while

###classwork


Определяем лучшего писателя отзывов. 
У вас есть четрые отзыва на фильм С.Кубрика "Сияние". Вам нужно определить, кто из авторов отзывов обладает наиболее развитым лексиконом ( таковым считаем самый длинный набор неповторяющихся слов в пределах одного отзыва). 
    для определения вам нужно: 

    1. Предобработать строку (см методы строк), сведя все к нижнему регистру, убрать пунктуацию.

    2. Превратить строку в список 
    3. определить уникальные элементы в списке (надо что-то сделать со списком)
    4. определить размер уникальных слов в пределах автора
    5. определить наилучгего

In [15]:
paul = "When this film first came out in 1980, I remember going to see it on opening night. \
This movie just scared the life out of me, which is what still happens every time I rent the video for a re-watch. \
I have seen The Shining at least six or seven times, and I still believe it to be simultaneously and paradoxically one of the most \
frightening and yet funniest films I've ever seen. Frightening because of the extraordinarily effective use of long shots\
 to create feelings of isolation, convex lens shots to enhance surrealism, and meticulously scored music to bring tension levels to virtually\
  unbearable levels. And \"funny\" because of Jack Nicholson's outrageous and in many cases ad-libbed onscreen antics.\
   It never ceases to amaze me how The Shining is actually two films in one, both a comedy AND a horror flick. \
   Ghostly apparitions of a strikingly menacing nature haunt much of the first half of the film, which gradually \
   evolve into ever more serious physical threats as time progresses. Be that as it may, there is surprisingly little \
   violence given the apparent intensity, but that is little comfort for the feint of heart as much of the terror is more\
    implied than manifest. The Shining is a truly frightening movie that works symbolically on many levels, but is basically \
    about human shortcomings and the way they can be exploited by unconscious forces combined with weakness of will.\
     This film scares the most just by using suggestion to turn your own imagination against you. The Shining is a\
      brilliant cinematic masterpiece, the likes of which have never been seen before or since. Highly, highly recommended."

jane = "Chilling, majestic piece of cinematic fright, this film combines all the great elements of an intellectual thriller,\
 with the grand vision of a director who has the instinctual capacity to pace a moody horror flick within the realm of his filmmaking\
  genius that includes an eye for the original shot, an ice-cold soundtrack and an overall sense of dehumanization. This movie cuts through\
  all the typical horror movies like a red-poker through a human eye, as it allows the viewer to not only feel the violence and psychosis of\
   its protagonist, but appreciate the seed from which the derangement stems. One of the scariest things for people to face is the unknown \
   and this film presents its plotting with just that thought in mind. The setting is perfect, in a desolate winter hideaway. The quietness\
    of the moment is a character in itself, as the fermenting aggressor in Jack Torrance's mind wallows in this idle time, and breeds the\
     devil's new playground. I always felt like the presence of evil was dormant in all of our minds, with only the circumstances \
     of the moment, and the reasons given therein, needed to wake its violent ass and pounce over its unsuspecting victims. \
     This film is a perfect example of this very thought."

kate = "What can I say about the scariest movie I have ever seen that has not already been said by others more articulate than yours truly? \
Do not view this film expecting to see a screen version of the Stephen King novel. Rather, this is a Stanley Kubrick film, \
and to fully appreciate it one should judge it within the context of Kubrick's entire body of work as a serious filmmaker. Thematically, \
THE SHINING relates most closely to 2001: A SPACE ODYSSEY, though flourishes of PATHS OF GLORY, A CLOCKWORK ORANGE and BARRY LYNDON \
do manage to figure prominently in the film's overall technique. In a nutshell (no pun intended), Jack Nicholson and Shelly Duvall\
 co-star with Oregon's Timberline Lodge - enlisted to portray the exterior of the Overlook Hotel - in a story that appears on the surface\
  to be about ghosts and insanity, but deals with issues of child abuse, immortality and duality. What the film might lack initially in\
   terms of coherence is more than made up for in technique. Garrett Brown (the male voice in those old Molson Golden commercials), \
   inventor of the Steadicam, chases young Danny Lloyd through hotel corridors and an amazing snow maze, providing magic-carpet-ride\
    fluidity to scenes that ten years earlier would have been impossible to accomplish. If the film starts off too slow, remember who \
    the director is. This man likes to take his time, and the results are well worth it: incredible aerial shots of the Overlook Hotel;\
     horrific Diane Arbus-inspired twins staring directly at us; portentous room 237 and its treasure trove of terrible secrets; \
     elevators that gush rivers of blood in slow-motion; Jack Torrance's immortality found via the hotel (akin to David \
     Bowman'\s journey through the Space Gate); and some of the best use of pre-existing music ever assembled for a motion picture."


nick = "I was never a big fan of horror movies. They usually try cheap tricks to scare their audiences like loud noises and creepy children.\
 They usually lack originality and contain overacting galore. The only horror movie i like was Stir of Echoes with Kevin Bacon. \
 It was well-acted, and had a great story. But it has been joined and maybe even surpassed by Stanley Kubrick's The Shining, \
 quite possibly the scariest movie ever. The movie follows a writer (Jack Nicholson) and his family who agree to watch over a hotel\
  while it is closed for the winter. There were rumors of the place being haunted and the last resident went crazy and murdered his family.\
   But Jack is convinced it will be OK and he can use the quiet to overcome his writer's block. After months of solitude and silence however, \
   Jack becomes a grumpy and later violent. Is it cabin fever or is there something in the hotel that is driving him mad? \
   One of the creepiest parts about the movie is the feeling of isolation that Kubrick makes. The hotel is very silent, and the rooms are huge,\
yet always empty. It is also eerily calm when Jack's son is riding his bike through the barren hallways. Jack Nicholson's performance \
is also one of his very best, scaring the hell out of me and making me sure to get out once in awhile. My favorite scene is when he is \
talking to a ghost from inside a walk-in refrigerator. The Shining is tops for horror movies in my opinion, beating the snot out\
 of crap like the Ring and The Blair Witch Project. It may be a oldie, but is definitely a goodie."
        
paul = paul.lower().split() #разбиваем строку по пробелам, делаем все буквы строчными
kate = kate.lower().split() 
jane = jane.lower().split()
nick = nick.lower().split()

paul_normalized = [] #создаем пустой список. Он нам понадобится, чтобы потом сложить сюда результаты преобразованных строк (без пунктуации и чисел)
kate_normalized = []
jane_normalized = []
nick_normalized = []

#Работаем со строкой paul:
for i in paul: #проходим циклом по каждому элементу строки
    if i.isalpha(): #если перед нами буквы, убираем пунктуацию и складываем преобразованный элемент в новый список. А числа нам и не нужны. 
        paul_normalized.append(i.strip(':-;,.!?\'\"\\ '))
p = len(set(paul_normalized)) #Преобразуем наш новый список во множество, чтобы автоматически исключить повторные элементы, и смотрим на его длину, 
                             #записывая значение в переменную, чтобы потом сравнить значения.

#Аналогично работаем со строкой kate:
for i in kate:
    if i.isalpha():
        kate_normalized.append(i.strip(':-;,.!?\'\"\\ '))
k = len(set(kate_normalized))

#Аналогично работаем со строкой jane:
for i in jane:
    if i.isalpha():
        jane_normalized.append(i.strip(':-;,.!?\'\"\\ '))
j = len(set(jane_normalized))

#Аналогично работаем со строкой nick:
for i in nick:
    if i.isalpha():
        nick_normalized.append(i.strip(':-;,.!?\'\"\\ '))
n = len(set(nick_normalized))

#Сравниваем значения длин - выводим на печать то имя, внутри которого самое большое число элементов: 
if p>k and p>n and p>j:
    print ('Paul лучше всех пишет отзывы.')
elif k>p and k>n and k>j:
    print ('Kate лучше всех пишет отзывы.')
elif n>p and n>k and n>J:
    print('Nick лучше всех пишет отзывы.')
elif j>k and j>p and j>n:
    print('Jane лучше всех пишет отзывы.')

Kate лучше всех пишет отзывы.

##homework

как обычно, разделена на два трека, Вы можете выбрать один из понравившихся

*(или сделать оба, если есть время и желание)*

###**easy mode**

###**hard mode**