Сначала мы говорили о том, что питон можно использовать как калькулятор:

In [ ]:
2+3 # запустите эту ячейку

5

## основные операции с числами 
*(попробуйте сделать в ячейке с кодом, подставляя вместо x и y какие-нибудь числа. Порядок операций можно задавать скобочками)*

x + y	Сложение

x - y	Вычитание

x * y	Умножение

x / y	Деление

x // y	Получение целой части от деления

x % y	Остаток от деления

-x	Смена знака числа

abs(x)	Модуль числа

x ** y	Возведение в степень

In [20]:
print(4+3)
print(4-3)
print(4*3)
print(4/3)
print(4//2)
print(-4+5)
print(abs(-4))
print(2**3)
print(6%1)

7
1
12
1.3333333333333333
2
1
4
8
0

Настя Черная: 

Изначально я написала в одной ячейке в столбик разные операции с числами - Python выводил только результат последней операции. Вопрос: почему? Не очень понимаю, как это работает. А предыдущие операции при этом выполнялись? Чтобы заставить его выводить мне результаты по каждой операции, при этом сохранив все операции в одной ячейке, я воспользовалась функцией print, положив в ее аргумент операцию с числами. (Я знаю, что могла бы писать каждую операцию в отдельной ячейке или запускать после каждой операции код, чтобы увидеть результат выполнения кода по каждой операции.)

In [9]:
# пример
(22+10)/3-15%2
# в каком порядке выполняются операции?

9.666666666666666

Настя Черная: 
1. Сложение в скобках

2. Деление слева (в случае операций с одинаковым приоритетом первая будет выполняться та, что левее)

3. Остаток от деления

4. Вычитание

In [15]:
# придумайте ваш пример в этой ячейке и запустите ее
(5+3)*2//4 #НастяЧерная: мой пример

4

Порой для вычислений нам нужно сохранить результат. Для этого есть **переменные**. Переменные хранят ваши данные, мы *присваиваем им значение* через знак =

In [ ]:
a = 5 
# мы создали переменную а и присвоили ей значение 5

Переменные бывают разных типов, мы сегодня поговорим о числах и строках.

* Переменные с типом "строка" обозначаются как str(сокращение от string)

* Числовые переменные делятся на два подтипа:
** int для целых чисел (45)
** float для дробных (45.821)

Проверить тип переменной можно с помощью функции ```type()```
где в скобках будет ваша переменная

In [16]:
# создаем переменную, присваиваем значение
var = 23
type(var) #проверяем ее тип

int

In [17]:
# создадим другую переменную, с другим типом
var2 = 34.09
type(var2) # проверяем тип

float

In [18]:
# создадим третью, с другим типом
var3 = "meow" # не забудьте, что строки пишутся в кавычках, двойных или одинарных
type(var3) # проверяем тип

str

## операции с переменными

с числовыми переменными можно делать все то, что мы делали с числами в первых ячейках (складывать, умножать, возводить в степень и тд)

In [21]:
var+var2 #сложили первую и вторую переменную, т.к. они оба числовые

57.09

In [24]:
var2+var3 
# а здесь появляется ошибка, т.к. мы не можем складывать и вычитать и делить переменные разных типов (строку и число)

TypeError: unsupported operand type(s) for +: 'float' and 'str'

In [25]:
var*var3 #однако мы можем умножать строку на число (или на переменную, в которую сохранили число)

'meowmeowmeowmeowmeowmeowmeowmeowmeowmeowmeowmeowmeowmeowmeowmeowmeowmeowmeowmeow'

Также мы можем пересохранять значения переменных

In [22]:
print(var) #функция print выводит на печать то, что мы запишем в ее скобках
var = 2 # сохранили новое значение в уже существующую переменную var
print(var)
var = var * 10 # пересохраняем новое значение, которое равно старому, умноженному на 10
print(var)

23
2
20

пересохранения переменных - это удобно, но будьте осторожны, когда мы придем к теме циклов, там этим лучше не злоупотреблять

### операции со строками

строка  - это *итерируемый* объект (мы можем пройтись по каждому из его элементов). Мы можем работать с элементами строки. Для этого нам понадобятся **индексы**, номер элемента. Индекс записывается в квадратных скобках []

In [26]:
new = "line with some text"
print(new[0]) # хотим напечатать первый элемент в сторке
print(new[-1])# хотим последний элемент, он же первый с конца

# обратите внимание, что нумерация элементов начинается с 0, т.е. первый элемент имеет индекс 0

l
t

еще строки можно *конкатенировать*, присоединять друг к другу

In [27]:
print (var3+new)

meowline with some text

In [ ]:
# to be continued..